<!DOCTYPE html>
<html>
<head>
  <title>Оформлення</title>
  <link rel="stylesheet" type="text/css" href="/assets/checkout.css">
  <style>
      .address-section {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
      }
  </style>
</head>
<body>
<%= render "shared/navbar" %>

<div class="address-section">
  <h2>Оформлення успішне</h2>
  <p>Дякуємо за ваше замовлення!</p>
</div>
</body>
</html>
