<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="">
      <%= image_tag "icon.svg", height: 50, width: 50, class: "d-inline-block align-text-top me-3"%>
      <span style="font-size: 30px" >KitchenShop</span>
    </a>
    <div>Пошук</div>
    <div>
      <a>Іконка юзера</a>
      <a>Іконка сподобалось</a>
      <a>Іконка корзини</a>
    </div>
  </div>
</nav>