<div class="ms-2">
  <h1>Редагування відгуку</h1>
  <%= render "form", review: @review, product_id: @product_id %>
  <div>
    <a href="javascript:history.back()" class="btn btn-outline-secondary">Повернутися</a>
  </div>
</div>

